@font-face {
    font-family: "norse";
    src: url("fonts\\norse-bold-webfont.woff2") format("woff2"), 
         url("fonts\\norse-bold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-color: darkgray;
    font-family: sans-serif;
}

a{
    color: inherit;
}

p{
    margin: 0;
    padding: 0;
}

#container{
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
}

.image-section{
    flex: 1.5;
    background-image: url("images/bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.sidebar{
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    padding: 10px 0;
    margin-top: 40%;
    gap: 5px;
}

.logo-image{
    width: calc(1.5 * 38px);
    height: calc(1.5 * 50px);
    margin-left: auto;
}

.logo-text{
    font-family: "norse";
    font-size: 60px;
    color: white;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.bg-credit-text{
    color: white;
    text-align: center;
    margin-top: auto;
    font-size: 12px;
}

.bg-credit-text a:hover{
    text-decoration: none;
}

.form-section{
    background-color: aliceblue;
    flex: 3;
    display: flex;
    flex-direction: column;
}

.opening-paragraph{
    flex: 1;
    border: 1px solid red;
    font-weight: 600;
    padding: 20px 140px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opening-paragraph .padding{
    flex: 1;
}

.opening-paragraph p{
    flex: 2;
    font-size: 14px;
}

.main-form{
    flex: 2;
    border: 1px solid purple;
}

.submit-and-forgot{
    flex: 1;
    border: 1px solid green;
}

@media screen and (max-width: 1100px){
    #container{
        width: 100%;
    }
}