@font-face {
    font-family: "norse";
    src: url("fonts\\norse-bold-webfont.woff2") format("woff2"), 
         url("fonts\\norse-bold-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
    background-color: rgb(83, 83, 83);
    font-family: sans-serif;
}

a{
    color: inherit;
}

p{
    margin: 0;
    padding: 0;
}

#container{
    height: 100%;
    width: 70%;
    margin: auto;
    display: flex;
}

.image-section{
    flex: 1.5;
    background-image: url("images/bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.sidebar{
    background-color: rgba(0, 0, 0, 0.452);
    display: flex;
    padding: 10px 0;
    margin-top: 40%;
    gap: 5px;
}

.logo-image{
    width: calc(1.5 * 38px);
    height: calc(1.5 * 50px);
    margin-left: auto;
}

.logo-text{
    font-family: "norse";
    font-size: 60px;
    color: white;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.bg-credit-text{
    color: white;
    text-align: center;
    margin-top: auto;
    font-size: 12px;
    margin-bottom: 10px;
}

.bg-credit-text a:hover{
    text-decoration: none;
}

.form-section{
    background-color: rgb(248, 252, 255);
    flex: 3;
    display: flex;
    flex-direction: column;
}

.opening-paragraph{
    flex: 1;
    font-weight: 600;
    padding: 20px 140px 0 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opening-paragraph .padding{
    flex: 1;
}

.opening-paragraph p{
    flex: 2;
    font-size: 14px;
}

.main-form{
    flex: 1;
    padding: 20px;
    --input-border-radius: 2px;
    font-size: 10px;
    font-weight: 550;
    background-color: white;
    box-shadow: 1px 10px 10px -10px rgb(183, 183, 183), 1px -5px 10px -10px lightgray;
    color: rgb(92, 92, 92);
}

.main-form p{
    font-size: 16px;
    font-weight: 500;
}

input{
    border: 1px solid #E5E7EB;
    border-radius: var(--input-border-radius);
    padding: 3px;
    margin-top: 3px;
}

input:focus{
    outline: none;
    border: 1px solid blue;
    border-radius: var(--input-border-radius);
    box-shadow: 1px 1px 1px 1px rgba(159, 158, 158, 0.459);
}

input:invalid{
    border: 1px solid red;
}

form{
    display: flex;
    flex-wrap: wrap;
}

form > div{
    margin-right: 50px;
    margin-bottom: 10px;
}

.main-form > p{
    font-weight: 550;
    margin-bottom: 20px;
}

.submit-and-forgot{
    flex: 1;
}

@media screen and (max-width: 1100px){
    #container{
        width: 100%;
    }
}